@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: rgb(237, 237, 237);
}

.ColorfulHeading {
  background: -webkit-linear-gradient(left, #F11010, #1AD9E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
