@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  margin: 0;
  background-color: black;
}

.ColorfulHeading {
  background: -webkit-linear-gradient(left, #F11010, #1AD9E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

